<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="styles/bingo.css">
    <script src="sources/angular.min.js"></script>
    <title>BINGO Web!</title>
  </head>
  <body ng-app="bingo_web" ng-controller="controllerMain" 
    class="body-color" onload="focusOnDraw()">

    <div id="mainContainer" class="super-center">

      <!-- Info -->
      <table>
        <tr>
          <td style="width:33%" class="table-info__magic" ng-bind="roulette.info.magic"></td>
          <td style="width: 5%" class="table-info__rewind">
            <span class="table-info__rewind--enabled"
              ng-show="(
                (roulette.indexCurrentBall >= 1)
                && (roulette.info.indexBallDisplayed > 0)
                && (roulette.info.indexBallDisplayed <= roulette.indexCurrentBall)
              )"
              ng-click="roulette.viewBallHistory(-1)"
            >&#x25c0;</span>
          </td>
          <td style="width:24%" class="table-info__reading">
            <div class="box-info__reading"
              ng-bind="roulette.info.reading"
              ng-class="((roulette.info.action == ACTIONS.DRAW)
                ? 'box-info__reading--draw'
                : ((roulette.info.action == ACTIONS.MAGIC)
                  ? 'box-info__reading--magic'
                  : ((roulette.info.action == ACTIONS.RESET)
                    ? 'box-info__reading--reset'
                    : 'box-info__reading--info'
                  )
                )
              )"></div>
          </td>
          <td style="width: 5%" class="table-info__forward">
            <span class="table-info__forward--enabled"
              ng-show="(
                (roulette.indexCurrentBall >= 1)
                && (roulette.info.indexBallDisplayed > -1)
                && (roulette.info.indexBallDisplayed < roulette.indexCurrentBall)
              )"
              ng-click="roulette.viewBallHistory(+1)"
            >&#x25b6;</span>
          </td>
          <td style="width: 33%" class="table-info__order">
            <button style="display:none" type="button" onclick="goFullScreen()">full</button>
            <div ng-bind="roulette.info.order"></div>
          </td>        
        </tr>
      </table> <!-- info -->

      <!-- Balls -->
      <table class="table-balls">
        <tbody>
          <tr ng-repeat="row in GRID_ELEMENTS.LETTERS">
            <td ng-repeat="col in GRID_ELEMENTS.NUMBERS"
              ng-class="(((roulette.info.action != ACTIONS.MAGIC) && (roulette.ordering[roulette.indexCurrentBall] == (($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col))) ? 'ball__drawn' : 'ball__not-drawn')">
              <img class="table-balls__ball"
                ng-src="images/{{ +roulette.balls[($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col].isDrawn }}_{{ roulette.balls[($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col].number }}.png"
                ng-click="roulette.displayBallInfo(($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col, ACTIONS.INFO)"></img>
            </td>
          </tr>
        </tbody>
      </table> <!-- balls -->

      <!-- Buttons -->
      <table>
        <tr>
          <td style="width: 40%" class="table-buttons__magic">
            <button type="button" class="button-magic"
              ng-repeat="magic in CHOICES_MAGIC_NUMBERS"
              ng-click="roulette.drawMagic(magic)"
              ng-style="{visibility: (
              (roulette.indexCurrentMagicNumber >= (NUMBER_MAGIC_NUMBERS - 1)) || (roulette.info.indexFirstDraw > -1)
              ) ? 'hidden' : 'visible' }"
              ng-bind="magic">
            </button>
          </td>
          <td style="width: 20%" class="table-buttons__draw">
            <button type="button" class="button-draw"
              id="btnDraw"
              ng-click="roulette.drawBall()"
              ng-hide="(roulette.indexCurrentBall >= (NUMBER_BALLS - 1))">
              draw
            </button>
          </td>        
          <td style="width: 40%" class="table-buttons__reset">
            <button type="button" class="button-reset"
              ng-click="roulette.reset()"
              ng-hide="(roulette.indexCurrentBall < 0)">
              reset
            </button>
          </td>        
        </tr>
      </table> <!-- buttons -->

      <!--      <div ng-bind="roulette.ordering | json"></div> -->

    </div> <!-- super-center -->

    <div id="preloaded-images" ng-bind-html="renderHtml(HTML_PRELOAD_IMAGES)"></div>
    <script src="scripts/bingo_scripts.js"></script>
  </body>
</html>
