<html>
  <head>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="styles/bingo.css">
    <script src="sources/angular.min.js"></script>
    <title>BINGO Web!</title>
  </head>
  <body ng-app="bingo_web" ng-controller="controllerMain" 
    class="body-color" onload="initialize()">

    <div id="mainContainer" class="super-center">

      <!-- Info -->
      <table style="width: 100%">
        <tr>
          <td style="width: 37%" class="table-info__magic" ng-bind="roulette.info.magic"></td>
          <td style="width:  3%" class="table-info__rewind">
            <span ng-show="(
              (roulette.indexCurrentBall >= 1)
              && (roulette.info.indexBallDisplayed > 0)
              && (roulette.info.indexBallDisplayed <= roulette.indexCurrentBall)
            )"
              ng-click="roulette.displayBallInfo(roulette.ordering[roulette.info.indexBallDisplayed - 1], ACTIONS.INFO)"
            >&#11164;</span>
          </td>
          <td style="width: 20%" class="table-info__reading">
            <div class="box-info__reading"
              ng-bind="roulette.info.reading"
              ng-class="((roulette.info.action == ACTIONS.DRAW)
                ? 'box-info__reading--draw'
                : ((roulette.info.action == ACTIONS.MAGIC)
                  ? 'box-info__reading--magic'
                  : ((roulette.info.action == ACTIONS.RESET)
                    ? 'box-info__reading--reset'
                    : 'box-info__reading--info'
                  )
                )
              )"></div>
          </td>
          <td style="width:  3%" class="table-info__forward">
            <span ng-show="(
              (roulette.indexCurrentBall >= 1)
              && (roulette.info.indexBallDisplayed > -1)
              && (roulette.info.indexBallDisplayed < roulette.indexCurrentBall)
            )"
              ng-click="roulette.displayBallInfo(roulette.ordering[roulette.info.indexBallDisplayed + 1], ACTIONS.INFO)"
            >&#11166;</span>
          </td>
          <td style="width: 37%" class="table-info__order">
            <button style="display:none" type="button" onclick="goFullScreen()">full</button>
            <div ng-bind="roulette.info.order"></div>
          </td>        
        </tr>
      </table> <!-- info -->

      <!-- Balls -->
      <table style="width: 100%" class="table-balls">
        <tr ng-repeat="row in GRID_ELEMENTS.LETTERS">
          <td ng-repeat="col in GRID_ELEMENTS.NUMBERS"
            ng-class="((roulette.ordering[roulette.indexCurrentBall] == (($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col)) ? 'ball__drawn' : 'ball__not-drawn')">
            <img ng-src="images/{{ +roulette.balls[($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col].isDrawn }}_{{ roulette.balls[($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col].number }}.png"
              ng-click="roulette.displayBallInfo(($parent.$index * GRID_ELEMENTS.NUMBERS.length) + col, ACTIONS.INFO)"></img>
          </td>
        </tr>
      </table> <!-- balls -->

      <!-- Buttons -->
      <table style="width: 100%">
        <tr>
          <td style="width: 25%" class="table-buttons__magic">
            <button type="button" class="button-magic"
              ng-click="roulette.drawMagic()"
              ng-hide="(
                (roulette.indexCurrentMagicNumber >= (NUMBER_MAGIC_NUMBERS - 1))
                || (roulette.info.isMagicDone)
              )">
              magic 
            </button>
          </td>
          <td style="width: 50%" class="table-buttons__draw">
            <button type="button" class="button-draw"
              id="btnDraw"
              ng-click="roulette.drawBall()"
              ng-hide="(roulette.indexCurrentBall >= (NUMBER_BALLS - 1))">
              draw
            </button>
          </td>        
          <td style="width: 25%" class="table-buttons__reset">
            <button type="button" class="button-reset"
              ng-click="roulette.reset()"
              ng-hide="(roulette.indexCurrentBall < 0)">
              reset
            </button>
          </td>        
        </tr>
      </table> <!-- buttons -->

      <!--      <div ng-bind="roulette.ordering | json"></div> -->

    </div> <!-- super-center -->

    <div id="preloaded-images" ng-bind-html="renderHtml(HTML_PRELOAD_IMAGES)"></div>
    <script src="scripts/bingo_scripts.js"></script>
  </body>
</html>
