.body-color
{
  background: #f0f0f0 !important;
}

.super-center 
{
  /*
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  */
}

/* For image pre-loading */
div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

.table-balls
{
  width: 100%;
  text-align: center;
  margin: 0.75rem 0;
}

  .table-info--magic,
  .table-buttons--magic
  {
    text-align: left;
  }

  .table-info--reading,
  .table-buttons--draw
  {
    text-align: center;
  }
  .table-info--reading
  {
    font-weight: bold;
  }

  .table-info--order,
  .table-buttons--reset
  {
    text-align: right;
  }

  .table-info--reading
  {
    font-size: 2rem;
    vertical-align: middle;
  }
  .table-info--order,
  .table-info--order
  {
    font-size: 1.2rem;
    vertical-align: middle;
  }

    .ball--drawn
    {
      background: yellow;
      border: 1px solid black;
      animation: blinker 1s linear infinite;
    }
    .ball--not-drawn
    {
      background: none;
      border: 1px solid transparent;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
    }
 
    .button-magic,
    .button-draw,
    .button-reset
    {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 1rem;
    }
    .button-draw
    {
      background: #ffc0ff;
      color: #950095;
    }
    .button-reset
    {
      background: #ffc0c0;
    }

