.body-color
{
  background-color: #f0f0f0 !important;
  font-family: Verdana;
  position: relative;
  /*
   * Disable text selection
   * https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript 
   */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Responsive Web Design Breakpoints
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .body-color 
  {
    background-color: red !important;
  }
  .table-balls__ball
  {
    width: 90%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .body-color {
    background-color: blue !important;
  }
  .table-balls__ball
  {
    width: 70%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .body-color {
    background-color: black !important;
  }
  .table-balls__ball
  {
    width: 70%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */


/* Mobiles on Landscape: for Responsive web design */
/* @media only screen and (min-width: 1023px) */
@media only screen and (min-width: 1023px)
{
}


.super-center
{
  width: 98%;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  /* padding: 15px; */
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

/* For image pre-loading */
div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}

table
{
  table-layout: fixed;
  width: 100%;
}

.table-balls
{
  text-align: center;
  margin: 1.0rem 0 0.5rem 0;
}
  .table-balls > tbody > tr > td
  {
    padding: 0;
  }
  .table-balls__ball
  {
    cursor: help;
  }

  .table-info__magic,
  .table-buttons__magic
  {
    text-align: left;
  }
  .table-info__magic
  {
    text-align: center;
    color: deeppink;
    font-size: 2rem;
    font-weight: bold;
  }

  .table-info__rewind,
  .table-info__forward
  {
    font-size: 2rem;
    font-weight: bold;
    color: silver;
  }
  .table-info__rewind
  {
    text-align: left;
  }
  .table-info__forward
  {
    text-align: right;
  }
    .table-info__rewind--enabled,
    .table-info__forward--enabled
    {
      cursor: pointer;
    }

  .table-info__reading,
  .table-buttons__draw
  {
    text-align: center;
  }
  .table-info__reading
  {
    vertical-align: middle;
  }
    .box-info__reading
    {
      border: 1px solid black;
      border-radius: 0.5rem;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-weight: bold;
      font-size: 3rem;
      padding: 0.5rem;
    }
      .box-info__reading--magic
      {
        background-color: #ffc0ff;
        color: #950095;
      }
      .box-info__reading--draw
      {
        background-color: palegreen;
        color: forestgreen;
      }
      .box-info__reading--reset
      {
        background-color: #ffc0c0;
        color: darkred;
      }
      .box-info__reading--info
      {
        background-color: #20b2aa;
        color: #7fffd4;
      }

  .table-info__order,
  .table-buttons__reset
  {
    text-align: right;
  }

  .table-info__magic,
  .table-info__order
  {
    vertical-align: middle;
  }
  .table-info__order
  {
    font-size: 1.4rem;
    color: darkgray;
    padding-right: 1.25rem;
  }

    .ball__drawn
    {
      background-color: yellow;
      border: 1px solid gold;
      animation: blinker 1.5s linear infinite;
    }
    .ball__not-drawn
    {
      background-color: none;
      border: 1px solid transparent;
    }
    @keyframes blinker {
      60% {
        opacity: 0.25;
      }
      40% {
        opacity: 0.65;
      }
    }

    .button-magic,
    .button-draw,
    .button-reset
    {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0.5rem 3rem;
      border-radius: 6px;
      color: black;
      cursor: pointer;
      outline: none;
    }
    button:focus
    {
      background-color: darkslategray;
      color: gainsboro;
    }
    /*
    .button-magic
    {
      background-color: #950095;
      background-color: deeppink;
        background-color: darkgray;;
        color: #950095;
    }
    .button-draw
    {
      background-color: forestgreen;
      background-color: green;
        background-color: palegreen;
        color: forestgreen;
    }
    .button-reset
    {
      background-color: darkred;
      background-color: red;
        background-color: #ffc0c0;
        color: darkred;
    }
    */
